.hero_section{
    margin: 2rem 0;
}
.top_hero{

}
.middle_hero,
.buttom_hero{
    margin:1rem 0;
}
.hero_icon{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.hero_icon a{
    margin:  0.5rem;
}
@media screen and (min-width:576px){
    .middle_hero,
    .buttom_hero{
        width: 70%;
    }
}